.card-img-overlay {
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
}

.date-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #007bff;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.date-day,
.date-month-year {
  display: block; /* O puedes usar flex si prefieres */
}

.card-img {
  object-fit: cover;
  height: 400px; /* Ajusta la altura según tus necesidades */
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-text {
  margin-bottom: 1rem;
}

.carousel-background {
  height: 400px; /* La altura del carrusel, ajusta según sea necesario */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item {
  position: relative;
  height: 400px; /* Asegúrate de que esto coincida con la altura de .carousel-background */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  padding-top: 50px; /* Ajusta este valor según la altura de tu nav */
}